<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title><%= title %></title>

  </head>
  <body id = "mybody">

<nav class="navbar navbar-expand navbar-dark bg-dark">
<a class="navbar-brand" href="#">MyUno</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Lobby<span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/gameroom">Gamerooms</a>
  </li>

</ul>
<ul class="navbar-nav navbar-right"
<li class="nav-item">
  <% if(user) { %>
    <a class="nav-link active" href="#"><%= user.username %></a>
  <% } else { %>
    <a class="nav-link active" href="/user/login">Login</a>
  <% } %>
</li>
<li class="nav-item">
  <% if(user) { %>
    <a class="nav-link active" href="/user/logout">Logout</a>
  <% } else { %>
    <a class="nav-link active" href="/user/register">Register</a>
  <% } %>
</li>

</div>
</nav>
