<% include ./partials/header %>

	<style>
		body {
			background: url(https://i.stack.imgur.com/q02th.jpg);
			background-size: 100%;
			background-repeat: no-repeat;
		}
	</style>

  <form action="/gameroom/leave/<%= id %>" method="POST">
    <input id="room-id" type="hidden" name="roomId" value="<%= id %>">
    <input id="user-id" type="hidden" name="userId" value="<%= user.id %>">
    <input id="leave-button" type="submit" style="width:100px;background-color:black;color:white" value="LEAVE ROOM">
  </form>
  
  <div id="p1"></div>
  
  <div id="p2"></div>
  
  <div id="p3"></div>
  
  <div id="p4"></div>
  
  <div id="turn-indicator"></div>

	<!-- draw and play deck -->
	<div id="deck-container">
	</div>

	<!-- draw and play deck -->
	<div id="my-hand">
	</div>

	<!-- other players' deck -->
	<div id="opponents">
		<div id="opponent-1"></div>
		<div id="opponent-2"></div>
		<div id="opponent-3"></div>
	</div>

	<!-- button -->
	<div class="container" style="position:fixed; left:30%; bottom:26%">
			<button id="start-button" style="width:100px;background-color:black;color:white">START</button>
			<button id="change-color" style="width:100px;background-color:black;color:white">CColor</button>
			<button id="play-card" style="width:100px;background-color:black;color:white">PLAY CARD</button>
			<button type="button" style="width:100px;background-color:black;color:white">PASS</button>
			<button type="button" style="width:100px;background-color:black;color:white">UNO</button>
			<button type="button" style="width:100px;background-color:black;color:white">DRAW</button>
	</div>

	<div class="chat-input" style="position:fixed; right:0%; bottom:0%">
		<input type = "text" placeholder="Message...">
		<button type="button" style="width:90px;background-color:black;color:white;">SEND</button>
	</div>

  <script src="/socket.io/socket.io.js"></script>  
  <script src="/scripts/room.js"></script>
<% include ./partials/footer %>
