<% include ./partials/header %>

	<style>
		body {
			background: url(https://i.stack.imgur.com/q02th.jpg);
			background-size: fill;
			background-repeat: no-repeat;
			overflow-x: hidden;
		}
		
		.input-group.mb-3 {
			width: 90%;
		}

		#messages {
			width: 90%;
			height: 300px ;
			background-color: rgba(255,255,255,0.8);
		}

	</style>
	<div class="row" id='main-container'>

		<div id="game-area" class="col-9">
				<!-- other players' deck -->
			<div class="row" id="opponents">
				<div class="col-4 center" id="opponent-1"></div>
				<div class="col-4 center" id="opponent-2"></div>
				<div class="col-4 center" id="opponent-3"></div>
			</div>
			
			<div class="row" id="decks">
				<div class="col-2"></div>
				<div id="draw-deck" class="col-3">
					<img class="mx-auto d-block" src="/images/card_back_alt.png">
				</div>
				<div class="col-2" id="turn-indicator"></div>
				<div id="play-deck" class="col-3 col-md-offset-3"></div>
				<div id="color-picker" class="col-1"></div>				
			</div>

			<div class="row">
				<!-- <div class="col-4"></div> -->
				<div class="col-12 mx-auto">
					<div class="text-center" id="error"></div>
				</div> 
			</div>
	
			<!-- button -->
			<div class="row">
				<!-- <div class="col-2"></div> -->
				<div class="col-12 mx-auto" id="buttons">
					<div class="text-center">
						<input type="submit" id="start-button" style="background-color:black;color:white" value="START">
						<input type="submit" id="pass-turn" style="background-color:black;color:white" value="PASS">
						<input type="submit" id="uno" style="background-color:black;color:white" value="UNO">
						<input type="submit" id="catch" style="background-color:black;color:white" value="CATCH">
						<input type="submit" id="draw-card" style="background-color:black;color:white" value="DRAW">
					</div>
				</div>
			</div>
			<div id="message"></div>
			<!-- draw and play deck -->
			<div class="row">
				<!-- <div clas></div> -->
				<div class="col-8 mx-auto">
					<div class="text-center">
						<div id="my-hand"></div>
					</div>
				</div>
			</div>
		</div>
			
		<div class="col-3">
			<div class="row">
				<div class="col-6"></div>
				<form id="leave-room" class="col-4" action="/gameroom/leave/<%= id %>" method="POST">
					<input id="room-id" type="hidden" name="roomId" value="<%= id %>">
					<input id="user-id" type="hidden" name="userId" value="<%= user.id %>">
					<input id="username" type="hidden" name="username" value="<%= user.username %>">
					<input id="leave-button" type="submit" style="background-color:black;color:white" value="LEAVE ROOM">
				</form>
			</div>
			<div class="row" style="margin-top: 30%;">
					<ul id="messages"></ul>
          <div class="input-group mb-3">
              <input type="text" id="chat-message" class="form-control" placeholder="Type message here..." autocomplete="off"/>        
              <div class="input-group-append">
                <button id="send-button" class="btn btn-primary" type="button">Send</button>
              </div>
            </div>
			</div>
		</div>

	</div>
		
	<script src="/socket.io/socket.io.js"></script>  
	<script src="/scripts/room_chat.js"></script>
	<script src="/scripts/room.js"></script>
</div>
<% include ./partials/footer %>
