
<% include ./partials/header %>
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">Lobby</h1>

  <div class="row">
    <div class="col-lg-6 portfolio-item">

      <div class="row">
        <div class="col-lg-12 portfolio-item">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Rooms</a>
            </h4>
            <table class="gridtable">
            <tr>
              <th>Room Name</th><th>Action</th>
            </tr>
            <tr>
              <td>Room 1</td><td>Join</td>
            </tr>
            <tr>
              <td>Room 2</td><td>Join</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-12 portfolio-item">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" >Leaderboard</a>
          </h4>
          <table class="gridtable">
            <tr>
                <th>Name</th><th>Points</th>
            </tr>
            <tr>
                <td>Jack</td><td>1000</td>
            </tr>
            <tr>
                <td>Jerry</td><td>2000</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="col-lg-6 portfolio-item">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Chat Space</a>
          </h4>
           <li class="login page">
            <div class="form">
              <% if(user) { %>
                username: <input id="nameInput" value = <%= user.username %> type="text" maxlength="14" disabled/>
              <% } else { %>
                <h4 class="title">What's your nickname?</h4>
                <input id="nameInput" placeholder = "nickname" type="text" maxlength="14" />
              <% } %>
            </div>
           </li>
           <div class="container" width = 200 height = 100 color="blue">
             
           </div> 
          <script src="/scripts/lobby_chat.js"></script>
        <ul id="messages"></ul>
          <form action="">
            <input id="m" placeholder="message"autocomplete="off"/>
            <button id ='click'> Send
            </button>
          </form>
        </div>
      </div>
    </div>
    

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
