<% include ./partials/header %>

<div class="container">
	<div class="row">
		<div id='profile-image' class="col-lg-4 col-sm-6" style=" margin:0 auto;">

            <div class="card hovercard">
                <div class="card-header center">
                   <h2><%= user.username %></h2>
                </div>
                <!-- <div class="thumbnail avatar"> -->
                    <img src="https://image.freepik.com/free-icon/user-profile-icon_318-33925.jpg">
                <div class="card-body">
                    <h4 class="center">Score: <strong><%= user.score %></strong></h4>
                    <p style="color:black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <!-- <div class="info">
                    <div class="title">
                    <% if (user){ %>
                        <p> <%= user.username %> <p>
                        <p> <%= user.score %> <p>                            
                        <% } %>
                    </div>
                    <div class="desc">High Score</div>
                </div>  -->
            </div>
        </div>
	</div>
</div>

<% include ./partials/footer %>