body {
  /* padding: 50px; */
  background-color: #f4f5f7;
  font-family: 'Roboto Slab', sans-serif;
}

/* a {
  color: #00B7FF;
} */

#create_room {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 80%;
}

.fa-plus:hover {
  color: green;
}

.title {
  margin-bottom: 10px;
  background-color: #e6e6e6;
  border: 2px solid #cccccc;
  border-radius: 2px;
  padding: 2px 6px;
}

#add-room a {
  margin-left: 78%;
}

.center {
	text-align: center;
}

.promise {
	text-align: center;
	color: #4BB543;
}

.portfolio-item {
  margin-bottom: 30px;
}

h1 {
    text-align: center;
}

h4 a {
    color:inherit;
    text-align: center;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.table-responsive {
    max-height:200px;
}
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }*/
/*body {
  font: 13px Helvetica, Arial;
}*/
/*#chat-box{
  border-width: 200px;
  border-color: rgb(235, 238, 244);
  border-style: solid;
}*/
#messages{
  border-width: 1px;
  border-color: rgb(235, 238, 244);
  border-style: solid;
}
form {
  padding: 3px;
  position: relative;
  top: 300;
  width: 100%;
}

/*form input {
  border: 0;
  padding: 10px;
  width: 20%;
  margin-right: .5%;
}*/

form button {
  background: rgb(166, 189, 224);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}*/

.row {
  height: inherit;
}

/* draw and play deck CSS style */
.deck_container {
  margin-top: 15%;
  margin-left: 31%;
}
#play_deck {
  margin-left: 250px;
}

/* my deck CSS style */
.my_deck {
  position: absolute;
  margin-left: 15%;
  bottom: 0%;
}

/* other players' CSS style */
.others_deck {
  position: absolute;
  top: 8%;
}
#otherPlayer_1, #otherPlayer_2, #otherPlayer_3 {
  float: left;
}
#otherPlayer_1 {
  margin-left: 200px;
}
#otherPlayer_2 {
  margin-left: 315px;
}
#otherPlayer_3 {
  margin-left: 250px;
}
p {
  color: white;
  text-align: center;
}
