body {
  /* padding: 50px; */
  background-color: #f4f5f7;
  font-family: 'Roboto Slab', sans-serif;
}

/* a {
  color: #00B7FF;
} */

.center {
	text-align: center;
}

.promise {
	text-align: center;
	color: #4BB543;
}

.portfolio-item {
  margin-bottom: 30px;
}

h1 {
    text-align: center;
}

h4 a {
    color:inherit;
    text-align: center;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

/*
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
  }*/
/*body { 
  font: 13px Helvetica, Arial; 
}*/
/*#chat-box{
  border-width: 200px;
  border-color: rgb(235, 238, 244);
  border-style: solid;
}*/
#messages{
  border-width: 1px;
  border-color: rgb(235, 238, 244);
  border-style: solid;
}
form { 
  padding: 3px; 
  position: relative; 
  top: 300; 
  width: 100%; 
}

/*form input { 
  border: 0; 
  padding: 10px; 
  width: 20%; 
  margin-right: .5%; 
}*/

form button { 
  background: rgb(166, 189, 224); 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

/*#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}*/

.row {
  height: inherit;
}
